.paginator {
  margin: 2rem 0 2cqi 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;

  button {
    background: transparent;
    border-radius: 8px;
    padding: 5px;
    border: none;
    color: var(--text-color);
  }
  button:disabled {
    background: transparent;
    color: var(--text-color);
  }

  span {
    color: var(--text-color);
  }
}
