.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1.5rem;
  width: 100%;
  height: 64px;
  max-height: 64px;
  margin: auto;
  align-items: center;
  background-color: var(--bg-color);
}

.navbar-link {
  color: inherit;
  text-decoration: none;
  align-self: center;
}

.navbar-logo {
  text-decoration: none;
  color: inherit;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    min-width: 24px;
    min-height: 24px;
    margin: 0;
  }

  span {
    // font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-left: 0.5rem;
  }
}

.active {
  font-weight: bold;
  text-decoration: underline solid var(--secondary-surface-color) 3px;
  text-decoration-skip-ink: none;
}

.theme-toggle {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  img {
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
  }
}
